/*////////Base Styles////////*/
* {
   margin: 2px 0px;
   padding: 0px;
}

html, body {
    font-family: 'Raleway' , sans-serif;
}

h1  {
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 50px;
}

form {
    margin-left: 20px;
    font-family: arial;
    font-size: smaller;
}

section {
  font-family: 'Raleway' , sans-serif;
  display: block;
}

ul {
  list-style-type: none;
  text-align: center;
  display: inline-block;
}

footer {
  text-align: center;
}

/*////////Header + Nav////////*/
header {
  height: 35px;
  display: block;
}

#site-title {
  border: 2px solid white;
  padding: 5px;
  margin: 5px;
}

nav {
  top: 0px;
  width: 100%;
  position: fixed;
  display: flex;
  color: white;
  background-color: #ff7f33;
  opacity: 0.85;
  padding-left: 12px;
  z-index: 1;
}

nav #site-title {
  font-size: 25px;
}

nav ul {
  display: flex;
  height: 100%;
  margin-left: 20px;
  font-size: 17px;
}

nav ul li {
  padding: 15px 20px;
}

nav li:hover{
  background-color: lightblue;
  color: black;
}

nav li hover:not(.active) {
  background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/*////////Btns Secondary////////*/
/* #wrapper_btns_secondary {
  height: 25px;
} */

#container_btns_secondary {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 10px;
}

.btns_secondary {
    width: 250px;
    color: black;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid black;
    padding: 3px;
    margin: auto;
}

.btn_nav {
    cursor: pointer;
}

/*////////Launch Page -- Non Header or Nav////////*/
#launchpage {
  font-family: 'Raleway' , sans-serif;
  z-index: 5;
  width: 100%;
  margin-top: 75px;
  background-color: #f0f0f0;
}

#imgWrapper {
    /* height: 440px; */
    border-top: 1px solid lightgray;
    /* border-bottom: 1px solid lightgray; */
}

#launchpageimages {
  display: flex;
  justify-content: center;
  transition: all 1s;
}

#launchpageimages img{
  display: block;
  object-fit: cover;
  height: 300px;
  width: 300px;
}

#launchpageimages figure{
  margin:0 10px;
}

#launchpageimages h4{
  text-align: center;
}

.feature-frame {
    color: #7E7E7E;
    background-color: #FFF;
    padding: 15px 5px;
    margin: 20px;
    box-shadow: 0px 1px 2px gray;
}

figure, .feature-frame, #launchpageimages {
    transition: all 0.25s;
}

figcaption {
  text-align: center;
  padding: 8px 0 0;
}

.f-title {
  font-size: 20px;
  font-weight: bold;
}

figcaption a {
  text-decoration: none;
  color: orange;
}

/*////////Search Page Styles////////*/
#searchpage {
    height: 100%;
}

#map {
    margin-top: 30px;
    height: 350px;
    width: 100%;
}

#container_table {
  display: inline-block;
  margin: 20px;
}

#timeandlocation {
  margin: 5px 20px;
  padding: 10px;
  display: inline-block;
  background-color: lightblue;
  border-radius: 3px;
  align-content: top;
  vertical-align: top;
}

#timeandlocationheader {
  text-align: center;
}

#timeselect {
  margin: 5px;
}

.closed {
    height: 0px;
}

.open {
    height: 440px;
}

/*////////Change Page Transitions////////*/
.invisible {
    opacity: 0;
}

.visible {
    opacity: 1.0;
}

.none {
    display: none;
}
.block {
    display: block;
}

/*////////Responsiveness////////*/

/* Smartphones (portrait) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #launchpageimages img{
    height: 90px;
    width: 90px;
  }

  h1  {
   font-size: 16px;
  }

  nav #site-title {
    font-size: 17px;
  }

  .feature-frame {
    padding: 5px 5px;
    margin: 5px;
  }

  .f-title {
  font-size: 12px;
  font-weight: bold;
  }

  .f-time {
  font-size: 10px;
  }
}